<mat-form-field hideRequiredMarker floatLabel='auto' appearance='legacy' color='accent'>
  <mat-label>Name</mat-label>
  <input required matInput>
  <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='standard' color='warn'>
  <mat-label>Name</mat-label>
  <input required matInput>
  <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='fill'>
  <mat-label>Name</mat-label>
  <input required matInput>
  <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
<br>
<mat-form-field hideRequiredMarker floatLabel='auto' appearance='outline'>
  <mat-label>Name</mat-label>
  <input required matInput>
  <mat-hint align='end'>Min 5 characters</mat-hint>
</mat-form-field>
