<div>
  <span matBadge='4' matBadgePosition='below before'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgePosition='below after'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgePosition='after below'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='small'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='medium'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeSize='large'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeColor='primary'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeColor='accent'>Notifications</span>
</div>
<div>
  <span matBadge='4' matBadgeOverlap='false' matBadgeColor='warn'>Notifications</span>
</div>
<div>
  <span [matBadge]='notifications' [matBadgeHidden]='notifications === 0' matBadgeOverlap='false' matBadgeColor='warn'>Notifications</span>
</div>
